.image {
    width: 250px;
    height: 270px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.item {
    cursor: pointer;
}