/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.items__title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}

.items__subTitle {
    margin-top: 25px;
}

.items__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}

.items__subTitle {
    font-size: 30px;
    font-weight: 400;
}

.items__title {
    padding-bottom: 30px;
}