/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.items__title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}

.items__subTitle {
    margin-top: 25px;
}

.items__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}

.items__subTitle {
    font-size: 30px;
    font-weight: 400;
}

.items__title {
    padding-bottom: 30px;
}

.basket__items {
    margin-top: 20px;
    border-top: 2px solid #B8B8B8;
    min-height: 70vh;
}

.basket__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    font-size: 36px;
    font-weight: 600;
}

.item__link {
    text-decoration: none;
    color: #000;
}

.main__image {
    width: 405px;
    height: 508px;
}

.top__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__images {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bottom__images {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-top: 30px;
}

.bottom__image {
    width: 268px;
    height: 336px;
}

.top__container {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.top__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 24px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 14px;
    width: 70%;
}

.composition {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 14px;
}

.description__title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 230.4%;
    margin-top: 24px;

}

.price {
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
}

.btn {
    background: #000;
    margin-top: 24px;
    color: #fff;
    border-radius: 15px;
    width: 226px;
    height: 37px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.header {
    height: 800px;
    margin-top: 25px;
    width: 100%;
    background: url('../assets/images/bg.jfif') no-repeat;
    background-size: cover;
    background-position: center;
}

.header_title {
    color: rgba(255, 174, 72, 0.53);
    font-weight: 700;
    font-size: 60.48px;
    line-height: 74px;
    text-align: center;
    padding-top: 89px;
}

.new__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 54px;
    margin-top: 106px;
}

.new__items {
    display: flex;
    gap: 72px;
}

.recommendation__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 54px;
    margin-top: 106px;
}

.contact__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 54px;
    margin-top: 106px;
}

.contact__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 54px;
}

.contact__tg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.contact__inst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.contact__email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.contact__page {
    min-height: 40vh;
}

.error_404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.logo__img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.logo__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error__line__first {
    font-size: 20px;
    font-weight: 500;
}

.error__line {
    margin-top: 10px;
    font-size: 20px;
}

.error__line__last {
    margin-top: 30px;
}

.about__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
}

.paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}

.images {
    height: 300px;
}

.bold {
    font-weight: 600;
}

.vector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;
}

.vector__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #B6B6B6;
}

.active__vector {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FE6DAA;
}

.vector__dash {
    height: 2px;
    width: 125px;
    margin: 0 10px;
    background: #B6B6B6;
}

.vector__dash:last-child {
    display: none;
}

.page__center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    min-height: 50vh;
    user-select: none;
}

.how__to__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
}

.slides__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 35px;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.slide__control {
    width: 80px;
    background: #fff;
    height: 40px;
    cursor: pointer;
}

.slide__info {
    width: 800px;
    height: 170px;
}