.container {
    height: 350px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

.blocks__contaier {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    gap: 52px;
    padding-top: 80px;
}

.blockItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 230.4%;
}

.text {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 16px;
    width: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.button__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.handmade {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}

.links {
    cursor: pointer;
}

.capybara {
    display: none;
    /* background: #000; */
}

.handmade:hover~.capybara {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    color: red;
}