.item {
    height: 220px;
    width: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-top: 30px;
    ;
}

.line {
    border-bottom: 2px solid #B8B8B8;
}

.image {
    width: 170px;
    height: 215px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 13px
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    /* padding-top: 10px; */
}

.mid {
    /* padding-top: 10px; */
}

.price {
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.bold {
    font-weight: 600;
}

.size {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.button {
    cursor: pointer;
}